* {
	margin: 0;
	padding: 0;
}
/* 헤더 */
header{
	box-shadow: 0px 0px 5px 0px black;
	height : 100px;
	width : 100%;
	z-index: 100px;
	margin: 0 auto;
}
/* 로고 */
.logo{
	float: left;
	display: inline-block;
	height: 80px;
	width : 15%;
	margin-top: 15px;
	margin-left: 13%;
}
.logoimg{
	display: inline-block;
	height: 80px;
	width : 100%;
}
/* /////////////////////// */
/* 햄버거버튼 */
.mainbarspace{
	display: none;
}
.main_hamButton{
	display: none;
}
/* ///////////// */
/* 메인메뉴 */
.mainmenu {
	margin-left: 1.8%;
	height: 100px;
	display: inline-block;
	width: 40%;
}
.menu {
	list-style: none;
	margin-top : 25px;
	width: 100%;
	height: 60px;
	float: left;
}
.mainmenucon{
	overflow: auto;
	margin-left: 10%;
	margin-top: 10px;
	height:40px;
	display: inline-block;
	line-height: 38px;
}
#heightline{
	margin: 10px 0 10px 10%;
	display: inline-block;
	width:2px;
	background-color: #A9E2F3;
	height : 20px;
}
.menu>li>a{
	margin-top: 10px;
	font-size: 120%;
	color:#0080FF;
	text-decoration: none;
	background-color: white;
}
/* ////////////////////////// */
/* 회원 */
/* 로그인 */
.login{
	display: inline-block;
	width: 5%;
	height: 35px;
	background-color: white;
	overflow:hidden;
	margin: 0 0% 28px 3%;
}
.loginbutton{
	width: 100%;
	height: 28px;
	border: 1px solid #2E9AFE;
	border-radius : 10px;
	margin: 3.5px auto;
	background-color: white;
	cursor: pointer;
}
.logintext{
	line-height:22px;
	font-size: 20px;
	color: #5a87e6;
	font-weight: 400;
	font-family: "Cairo";
	text-align: center;
}
/* /////////////////////////// */
/* 회원가입 */
.join{
	display: inline-block;
	width: 5%;
	height: 35px;
	background-color: white;
	overflow:hidden;
	margin: 0 0% 28px 0%;
}
.joinbutton{
	width: 100%;
	height: 28px;
	border: 1px solid #2E9AFE;
	border-radius : 10px;
	margin: 3.5px auto;
	background-color: white;
	cursor: pointer;
}
.jointext{
	line-height:22px;
	font-size: 20px;
	color: #5a87e6;
	font-weight: 400;
	font-family: "Cairo";
	text-align: center;
}
/* /////////////////////////// */
/* /////////////////////////// */
/* /////////////////////////// */
/* 메인페이지 몸체 */
.body{
	background-color: none;
	margin-left: 15%;
	width: 70%;
	height: 1200px;
	position: relative;
}
/* 검색창 */
.searchbox{
	border-radius: 10px;
	border: 2px solid #A9E2F3;
/* 	border-color: #A9E2F3; */
	background-color: white;
	width: 76%;
	height: 60px;
	position: absolute;
	top: 30px;
	left: 2%;
}
#searchbox{
	
    border: 1px solid #ccc;

    padding: 5px 5px;
    text-indent: 30px;
    text-align: left;
    width: 120px;
    
	color: black;
	border: none;
	outline: none;
	width: 96%;
	height: 40px;
	font-size: 25px;
	background-color:white;
	position: absolute;
	top: 6px;
	left: 2%;
}
#searchbox::placeholder{
	background-image: url(../images/readingglasses.png);
    background-position: 13px center;
    background-size: contain;
    background-repeat: no-repeat;
	
	color: #E6E6E6;
}
/* /////////////////////////// */
/* 합격자소서 */
.succresume{
	background-color: none;
	width: 18%;
	height: 580px;
	position: absolute;
	top: 30px;
	left: 80%;
	text-align: center;
	border: 1px dashed gray;
	border-top: 2px solid black;
}
.succresumelistline {
/* 	color: black; */
	border: 1px solid black;
}
.succresumelisttitle {
	font-size: 140%;
}
.succresumelist {
	width: 100%;
	list-style: none;
}
.succresumelink {
	text-decoration: none;
}
.succresumelink>ul {
	list-style: none;
	margin-left: 10%;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 80%;
	height:250px;
	border: 1px solid #A9E2F3;
}
.succresumelink>ul>li {
	color:black;
	line-height: 50px;
	font-size: 100%;
}
/* /////////////////////////// */
/* 인기게시판 */
.hotboard{
	background-color: #A9E2F3;
	width: 76%;
	height: 490px;
	position: absolute;
	top: 120px;
	left: 2%;
}
.hotboardtable {
  border-collapse: collapse;
  border: none;
  height:490px;
  width: 100%;
}
.hotboardtable> tr, td {
  border: none;
}

/* 각 행의 높이 설정 */
.hotboardtable tr:nth-child(1) {
  height: 70px;
  background-color: white;
}
.hotboardtable tr:nth-child(2) {
  height: 42px;
  background-color: white;
}
.hotboardtable tr:nth-child(3) {
  height: 42px;
  background-color: white;
}
.hotboardtable tr:nth-child(4) {
  height: 42px;
  background-color: white;
}
.hotboardtable tr:nth-child(5) {
  height: 42px;
  background-color: white;
}
.hotboardtable tr:nth-child(6) {
  height: 42px;
  background-color: white;
}
.hotboardtable tr:nth-child(7) {
  height: 42px;
  background-color: white;
}
.hotboardtable tr:nth-child(8) {
  height: 42px;
  background-color: white;
}
.hotboardtable tr:nth-child(9) {
  height: 42px;
  background-color: white;
}
.hotboardtable tr:nth-child(10) {
  height: 42px;
  background-color: white;
}
.hotboardtable tr:nth-child(11) {
  height: 42px;
  background-color: white;
}

.hotboardtable tr:first-child td:nth-child(1) {
  width: 100%;
}
.hotboardtable tr:nth-child(2) td:nth-child(1) {
  width: 10%; /* 셀 5의 너비 */
}
.hotboardtable tr:nth-child(2) td:nth-child(2) {
  width: 80%; /* 셀 6의 너비 */
}
.hotboardtable tr:nth-child(2) td:nth-child(3) {
  width: 5%; /* 셀 7의 너비 */
}
.hotboardtable tr:nth-child(2) td:nth-child(4) {
  width: 5%; /* 셀 8의 너비 */
}

.likeimg{
	width: 50%;
}

.commentimg{
	width: 40%;
}
.hoticon {
	width: 10%;
}
.hotboardtitle {
	font-size: 140%;
}
.hotboardname {
	margin-left: 5%;
}

/* /////////////////////////// */
/* 메인페이지 채팅 창 */
.mainchat{
	background-color:none;
	width: 96%;
	height: 520px;
	position: absolute;
	top: 640px;
	left: 2%;
}
.mainchatbox {
	margin-left:0.2%;
	width: 98%;
	height:480px;
	border: 10px solid #2E9AFE;
	border-radius: 20px;
	background-color: #A9E2F3;
}
#chattingbox{
	
    border: 1px solid #ccc;
	border-radius: 10px;
	
    padding: 5px 5px;
    text-indent: 30px;
    text-align: left;
    width: 120px;
    
	color: black;
	border: none;
	outline: none;
	width: 96%;
	height: 20px;
	font-size: 18px;
	background-color:white;
	position: absolute;
	top: 455px;
	left: 1.8%;
}
#chattingbox::placeholder{
	background-image: url(../images/readingglasses.png);
    background-position: 13px center;
    background-size: contain;
    background-repeat: no-repeat;
	
	color: #E6E6E6;
}
/* /////////////////////////// */
/* /////////////////////////// */

/* 	커질떼 */
@media screen and (min-width: 1110px) {

}
/* 작아질떼 */
@media screen and (max-width: 1110px) { 

}
